version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      NODE_ENV: production
    ports:
      - '3000:3000'

volumes:
  db_data: